  <div class="cinema-container">
    <div class="cinema-title">
      <%= image_tag "logo.png", alt: "logo" %>
      <h1>Le Wagon Cinema 📽</h1>
    </div>
    <div class="cinema-selected-movie">
      <div class="cinema-selected-menu">
        <%= link_to edit_movie_path(@current_movie) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to movie_path(@current_movie), method: :delete,
            data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <iframe
        src="https://www.youtube.com/embed/<%= @current_movie.youtube_id %>"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="cinema-movies">
      <p class="cinema-movies-more">🎞</p>
      <script>
        document.querySelector(".cinema-movies-more").addEventListener("click", () => {
          document.querySelector(".cinema-movies").classList.toggle("open");
        });
      </script>
      <div class="cinema-movies-content">
        <%= render 'movies/movie_grid',
            movies: @featured_movies,
            new_card: true,
            category_name: "Featured",
            category_description: "" %>
        <% ProjectCategory.all.each do |category| %>
          <%= render 'movies/movie_grid',
            movies: @movies.select { |movie| movie.project_category == category},
            new_card: false,
            category_name: category.name,
            category_description: category.description %>
        <% end %>
      </div>
    </div>
  </div>

