  <div class="cinema-container">
    <div class="cinema-title">
      <%= image_tag "logo.png", alt: "logo" %>
      <h1>Le Wagon Cinema 📽</h1>
    </div>
    <div class="cinema-selected-movie">
      <div class="cinema-selected-menu">
        <%= link_to edit_movie_path(@current_movie) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to movie_path(@current_movie), method: :delete,
            data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <iframe
        src="https://www.youtube.com/embed/<%= @current_movie.youtube_id %>"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="cinema-movies">
      <div class="cinema-movies-grid">
        <p class="cinema-movies-more">🎞</p>
        <%= link_to new_movie_path, class: "card-movie" do %>
          <h3>+</h3>
        <% end %>
        <script>
          document.querySelector(".cinema-movies-more").addEventListener("click", () => {
            document.querySelector(".cinema-movies").classList.toggle("open");
          });
        </script>
        <% @movies.each do |movie| %>
          <% movie_url = "http://i3.ytimg.com/vi/#{movie.youtube_id.split('?start')[0]}/maxresdefault.jpg" %>
          <%= link_to "#{movies_path}?selected_movie=#{movie.id}", class: "card-movie", style: "background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url(#{image_path movie_url});background-size: cover" do %>
              <h3><%= movie.title %></h3>
              <p><%= movie.project_category.name %></p>
              <p>#<%= movie.batch %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

